<ion-header>
  <nav title="Stars"></nav>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col col-7 class="vertical-align">
            <div>
              Star
            </div>
          </ion-col>
          <ion-col class="vertical-align">
            <div>
              Price
            </div>
          </ion-col>
          <ion-col class="vertical-align">
            <div>
              Avg response
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
    <button ion-item *ngFor="let star of stars" (click)="itemTapped($event, star)">
      <ion-grid>
        <ion-row>
          <ion-col col-7 class="vertical-align">
            <ion-avatar item-start>
              <img [src]="star.picsrc">
            </ion-avatar>
            <div>{{star.name}}</div>
          </ion-col>
          <ion-col class="vertical-align">
            <div>
              {{star.price}} €
            </div>
          </ion-col>
          <ion-col class="vertical-align">
            <div>
              {{star.responseTime}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  <div *ngIf="selectedStar" padding>
    You navigated here from <b>{{selectedStar.name}}</b>
  </div>
</ion-content>
